@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    display: inline-block;
    justify-content: center;
    background-color: #eee;
    margin: 0 500px 0 500px;
}

.newspaper-container {
    max-width: 700px;
    padding: 15px;
    margin: 50px 5px 50px 5px;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px #ddd;
    border-radius: 10px;
    background-color: white;
}

h1 {
    text-align: center;
    font-family: Abril Fatface;
    font-size: 40px;
}

.nav {
    float: center;
    text-align: center;
}

ul {
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #eee;
    padding: 10px;
}

li {
    display: inline;
    font-family: "Source Sans Pro";
    font-size: 15px;
    padding: 5px;
}

a {
    color: #777;
    text-decoration: none;
}

h2, h4, h5 {
    font-family: "Roboto Slab";
}

h5 {
    color: red;
}

p, .date {
    font-family: "Source Sans Pro";
}